<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="sidebar">
				<div id="nav">
					<h2 class="trigger">ข้อมูลพื้นฐาน</a></h2>
					<div>
						<ul class="trigger-ul">
							<li class="trigger-li"><a ui-sref=".erps000">ข้อกฎหมาย/เอกสารประกอบการเบิก</a> </li>
							<li class="trigger-li"><a ui-sref=".erps008">รายการจ่าย</a> </li>
							<li class="trigger-li"><a ui-sref=".erps016">โรงแรม</a> </li>
						</ul>
					</div>
					<h2 class="trigger">การดำเนินการ</h2> 
 					<div>
 						<ul class="trigger-ul">
                            <li class="trigger-li"><a ui-sref=".erps009">จัดการโครงการ</a> </li>
							<li class="trigger-li"><a ui-sref=".erps010">รายรับ</a> </li>
							<li class="trigger-li"><a ui-sref=".erps011">รายจ่าย</a> </li>
							<!--<li class="trigger-li"><a ui-sref=".erps012">เงินเพิ่ม</a> </li>-->
							<li class="trigger-li"><a ui-sref=".erps017">นำส่งรายได้แผนดิน</a> </li>
							<li class="trigger-li"><a ui-sref=".erps013">ทะเบียนคุมการใช้บัตรเครดิต</a> </li>
							<li class="trigger-li"><a ui-sref=".erps014">ทะเบียนการรับ-จ่าย บัตรเครดิต</a> </li>
							<li class="trigger-li"><a ui-sref=".erps015">ทะเบียนคุมข้อมูลอัตราค่าบริการโรงแรม</a> </li>
							
 						</ul>
 					</div>
 					<h2 class="trigger">รายงาน</h2> 
			 		<div>
			 			<ul class="trigger-ul">
			 				<li class="trigger-li"><a ui-sref=".erpr014">COU010 รายงานด้านรับ</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr015">COU011 รายงานด้านจ่าย</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr016">COU012 รายงานรับ-จ่าย</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr017">COU013 รายงานสรุปภาพรวมค่าใช้จ่ายโครงการฝึกอบรม</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr018">COU014 รายงานทะเบียนคุมบัตรเครดิตราชการ</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr019">COU015 รายงานทะเบียนการรับ-จ่ายบัตรวงเงินถาวร</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr020">COU016 รายงานอัตราค่าบริการของโครงการฝึกอบรม</a> </li>
			 			</ul>
			 		</div>

				</div><!-- nav end -->

			</div><!-- sidebar end -->
		</div><!-- Menu end -->

		<div class="col-md-10">
			<div ui-view="from"></div>
		</div>
	</div>
</div>