<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="sidebar">
				<div id="nav">
					<h2 class="trigger">ข้อมูลพื้นฐาน</a></h2>
					<div>
						<ul class="trigger-ul">
                            <li class="trigger-li"><a ui-sref=".erps001">จัดการบุคลากร</a> </li>
							<!--<li class="trigger-li"><a ui-sref=".erps018">รายการจ่าย</a> </li>-->
						</ul>
					</div>
					<h2 class="trigger">การดำเนินการ</h2> 
 					<div>
 						<ul class="trigger-ul">
                            <li class="trigger-li"><a ui-sref=".erps019">ค่ารักษา</a> </li>
							<li class="trigger-li"><a ui-sref=".erps020">ค่าเล่าเรียน</a> </li>							
 						</ul>
 					</div>
 					<h2 class="trigger">รายงาน</h2> 
			 		<div>
			 			<ul class="trigger-ul">
			 				<!--<li class="trigger-li"><a ui-sref=".erpr014">ERPR014 รายงานด้านรับ</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr015">ERPR015 รายงานด้านจ่าย</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr016">ERPR016 รายงานรับ-จ่าย</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr017">ERPR017 รายงานสรุปภาพรวมค่าใช้จ่ายโครงการฝึกอบรม</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr018">ERPR018 รายงานทะเบียนคุมบัตรเครดิตราชการ</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr019">ERPR019 รายงานทะเบียนการรับ-จ่ายบัตรวงเงินถาวร</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr020">ERPR020 รายงานอัตราค่าบริการของโครงการฝึกอบรม</a> </li>-->
			 			</ul>
			 		</div>

				</div><!-- nav end -->

			</div><!-- sidebar end -->
		</div><!-- Menu end -->

		<div class="col-md-10">
			<div ui-view="from"></div>
		</div>
	</div>
</div>