<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="sidebar">
				<div id="nav">
					<h2 class="trigger">ข้อมูลพื้นฐาน</a></h2>
					<div>
						<ul class="trigger-ul">
							<li class="trigger-li"><a ui-sref=".erps000">ข้อกฎหมาย/เอกสารประกอบการเบิก</a> </li>
                            <li class="trigger-li"><a ui-sref=".erps020">หน่วยนับ</a> </li>
						</ul>
					</div>
					<h2 class="trigger">การดำเนินการ</h2> 
 					<div>
 						<ul class="trigger-ul">
                            <!--<li class="trigger-li"><a ui-sref=".erps018">เบิกเงินรักษาพยาบาล</a> </li>
							<li class="trigger-li"><a ui-sref=".erps019">เบิกเงินค่าเล่าเรียน</a> </li>							-->
 						</ul>
 					</div>
 					<h2 class="trigger">รายงาน</h2> 
			 		<div>
			 			<ul class="trigger-ul">
			 				<!--<li class="trigger-li"><a ui-sref=".erpr021">ERPR021 รายงานผู้เบิกเงินสวัสดิการ</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr022">ERPR022 รายงานทะเบียนคุมเบิกเงินรักษาพยาบาล</a> </li>
							<li class="trigger-li"><a ui-sref=".erpr023">ERPR023 รายงานทะเบียนคุมเบิกเงินค่าเล่าเรียน</a> </li>	
							<li class="trigger-li"><a ui-sref=".erpr024">ERPR024 รายงานทะเบียนคุมเบิกเงินฎีกาคลัง</a> </li>						-->
			 			</ul>
			 		</div>

				</div><!-- nav end -->

			</div><!-- sidebar end -->
		</div><!-- Menu end -->

		<div class="col-md-10">
			<div ui-view="from"></div>
		</div>
	</div>
</div>