

<form>
	<div class="form-group">MAS001</div>
	<table width="">
		<tr>
			<th colspan="4">เงื่อนไขการค้นหา</th>
		</tr>
		<tr>
			<td>เลขบัตรประชาชน: </td>
			<td><input type="text" class="form-control" placeholder="เลขบัตรประชาชน"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>ชื่อ: </td>
			<td><input type="text" class="form-control" placeholder="ชื่อ"></td>
			<td>นามสกุล</td>
			<td><input type="text" class="form-control" placeholder="นามสกุล"></td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<button type="button" class="btn btn-primary">ค้นหา</button> <button type="button" class="btn btn-warning">ทั้งหมด</button>
			</td>
		</tr>

	</table>

</form>