<form>
	<div class="panel panel-primary">
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="85%" border="0" align="center">
                <tr>
                    <td width="20%" align="right">วันที่ รับ:</td>
					<td width="30%"><input type="text" class="form-control custom-form-control" style="width:80%">
                    <img src="images/calendar_32.png" width="24" height="24">&nbsp;<font color="red">*</font></td>
                    <td width="20%" align="right"></td>
                    <td width="30%"></td>
                </tr>
                <tr>
                    <td align="right">ชื่อ:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font></td>
                    <td align="right">นามสกุล:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font></td>
                </tr>
                <tr>
                    <td align="right">ตำแหน่ง:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" >&nbsp;<font color="red">*</font></td>
                    <td align="right">หน่วยงาน:</td>
                    <td><select class="form-control custom-form-control" style="width:80%">
                            <option>--ทั้งหมด--</option>
                            <option ng-repeat="u in unit">{{u.name}} </option>
                        </select>&nbsp;<font color="red">*</font></td>
                </tr>
                <tr>
                    <td align="right">ยี่ห้อ:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" >&nbsp;<font color="red">*</font></td>
                    <td align="right">รุ่น:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" >&nbsp;<font color="red">*</font></td>
                </tr>
                <tr>
                    <td align="right">IMEI:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" ></td>
                    <td align="right">หมายเลขโทรศัพท์(หลวง):</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" >&nbsp;<font color="red">*</font></td>
                </tr>
                <tr>
                    <td align="right">หมายเลขโทรศัพท์(ส่วนตัว):</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%" ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">หมายเหตุ:</td>
                    <td><textarea class="form-control custom-form-control"></textarea> </td>
                    <td></td>
                    <td></td>
                </tr>
               
                <tr>
					<td colspan="4" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="{{back}}"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						</td>
				</tr>				
			</table>
		</div>
		</div>
	</div>
</form>