<form>
	<div class="panel panel-primary">
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="85%" border="0" align="center">
                <tr>
                    <td width="20%" align="right">ประเภท:</td>
					<td width="30%"><select class="form-control custom-form-control" style="width:60%">
                            <option>--กรุณาเลือก--</option>
                            <option>เครื่องเขียน</option>
                            <option>กระดาษ</option>
                        </select>&nbsp;<font color="red">*</font></td>
                </tr>
				<tr>
					<td width="20%" align="right">หมวด:</td>
					<td width="30%"><select class="form-control custom-form-control" style="width:60%">
                            <option>--กรุณาเลือก--</option>
                            <option>ปากกา</option>
                            <option>ดินสอ</option>
                        </select>&nbsp;<font color="red">*</font></td>
				</tr>
                <tr>
					<td width="20%" align="right">รายการ:</td>
					<td width="30%"><select class="form-control custom-form-control" style="width:60%">
                            <option>--กรุณาเลือก--</option>
                            <option>ปากกาลูกลื่น</option>
                            <option>ปากกาไวท์บอร์ด</option>
                        </select>&nbsp;<font color="red">*</font></td>
				</tr>
                <tr>
					<td width="20%" align="right">จำนวนรับ:</td>
					<td width="30%"><input type="text" maxlength="4" class="form-control custom-form-control" style="width:30%">&nbsp;<font color="red">*</font>
						<select class="form-control custom-form-control" style="width:30%">
							<option>--เลือกหน่วย--</option>
							<option>กล่อง</option>
							<option>ด้าม</option>
							<option>ชิ้น</option>
						</select>&nbsp;<font color="red">*</font>
					</td>
				</tr>
                <tr>
					<td width="20%" align="right">ราคาต่อหน่วย(บาท):</td>
					<td width="30%"><input type="text" maxlength="4" class="form-control custom-form-control" style="width:60%">&nbsp;<font color="red">*</font></td>
				</tr>
				<tr>
					<td width="20%" align="right">ราคารวม(บาท):</td>
					<td width="30%"><input type="text" maxlength="4" class="form-control custom-form-control" style="width:60%" disabled></td>
				</tr>

                <tr>
					<td colspan="4" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="erp05.erps023"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						</td>
				</tr>				
			</table>
		</div>
		</div>
	</div>
</form>