<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="95%" border="0" align="center">
				<tr>
					<td align="right">ปีงบประมาณ:</td>
					<td><select class="form-control custom-form-control" style="width:200px">
						<option value="2559">2559</option>
						<option value="2560" selected>2560</option>
						<option value="2561">2561</option>
					</select>&nbsp;<font color="red">*</font></td>
					<td align="right">รหัสหลักสูตร:</td>
					<td>
                            <input type="text" maxlength="4" class="form-control custom-form-control" style="width:50%">&nbsp;<font color="red">*</font>
                            <button type="button" class="btn btn-info">ดึงข้อมูลหลักสูตร</button>

                    </td>
				</tr>
                <tr>
					<td align="right">ชื่อหลักสูตร / โครงการ:</td>
					<td><textarea class="form-control" disabled></textarea></td>
                    <td align="right">ยอดรับเงินโครงการ:</td>
					<td> <input type="text" maxlength="4" class="form-control custom-form-control" style="width:50%" disabled>
                    <div></div> <font color="red">RM:ยอดเงินจากรายรับเงิน</font></td>
					
				</tr>
                <tr>
                    <td align="right">รุ่นที่:</td>
					<td><select class="form-control custom-form-control" style="width:90%">
							<option><--กรุณาเลือก--></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select><font color="red">*</font><div></div> <font color="red">RM:จำนวนรุ่นจะต่ามโครงการ</font> </td>
                    <td align="right">จ่ายครั้งที่:</td>
					<td> 1 
						<div></div><font color="red">RM:ตรวจสองหลังจากเลือกรุ่น ว่าเป็นการจ่ายตรั้งที่เท่าไร</font> </td>
                </tr>


				<tr>
					<td colspan="6" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="erp03.erps011"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						<button type="button" class="btn btn-warning">ออกรายงาน</button> <!-- เหมือนกับ รายงาน RECR015-->
						</td>
				</tr>
			</table>
		</div>	
        <div class="well">
            <table class="table  table-bordered table-striped table-list" border="1">
				<tr>
                    <th width="5%">ลำดับ</th>
					<th width="40%">รายการ</th>
					<th width="20%">จำนวนเงิน</th>
					<th>หมายเหตุ</th>
                    <th align="center" ><button type="button" class="btn btn-primary">เพิ่ม</button></th>
				</tr>
				<tr>
					<td align="center">1</td>
					<td><select class="form-control custom-form-control" style="width:95%">
                            <option ng-repeat="detailPay in detailPays">{{detailPay.name}}</option>
                        </select> <font color="red">*</font></td>
					<td><input type="text" class="form-control custom-form-control" style="width:95%"><font color="red">*</font></td>
					<td><input type="text" class="form-control" style="width:100%"></td>
                    <td align="center"><img src="images/ic_delet.png" width="24" height="24"></img></td>
				</tr>
				<!--<tr>
					<td align="center">2</td>
					<td><select class="form-control custom-form-control" style="width:95%">
                            <option ng-repeat="detailPay in detailPays">{{detailPay.name}}</option>
                        </select><font color="red">*</font></td>
					<td><input type="text" class="form-control custom-form-control" style="width:95%"><font color="red">*</font></td>
					<td><input type="text" class="form-control" style="width:100%"></td>
                    <td align="center"><img src="images/ic_delet.png" width="24" height="24"></img></td>
				</tr>-->
                <tr>
					<td align="center" colspan="2">รวม</td>
					<td align="right">xx,xxx.xx</td>
                    <td colspan="2"></td>
				</tr>
			</table>

        </div>


		</div>
	</div>
</form>