<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>บันทึกทะเบียนคุมงบประมาณ</label></td>
					<td><label>REN002</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<td align="right">วันที่ :</td>
					<td><div class="col-xs-8"> <input type="text" class="form-control" placeholder="วันเกิด" size="5"></div>
					<img src="images/calendar_32.png" width="24" height="24"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">แผนงาน :</td>
					<td><input type="text" class="form-control" placeholder="แผนงาน"></td>
					<td align="right">กิจกรรม :</td>
					<td><input type="text" class="form-control" placeholder="รายการงบประมาณ"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">รหัสงบประมาณ : </td>
					<td><input type="text" class="form-control" placeholder="รหัสงบประมาณ"></td>
					<td>จำนวนเงิน (บาท)  :</td>
					<td><input type="text" class="form-control" placeholder="จำนวนเงิน (บาท)"></td>
					<td></td>
					<td></td>
				</tr>
				
				<tr>
					<td colspan="6" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="erp01.erps003"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</form>