<form >
	<div class="panel panel-primary">
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<td align="right">ชื่อรายการ:</td>
					<td><input type="text" class="form-control custom-form-control" placeholder="รายการ" style="width:85%">&nbsp;<font color="red">*</font></td>
				</tr>
				<tr>
					<td align="right">ประเภทเอกสาร:</td>
					<td><select class="form-control custom-form-control" style="width:30%">
						<option value="">--กรุณาเลือก--</option>
						<option value="1">กฎหมาย</option>
						<option value="2">เอกสารประกอบ</option>
						<option value="3">อื่นๆ</option>
					</select>&nbsp;<font color="red">*</font></td>
				</tr>
                <tr>
					<td align="right">ไฟล์:</td>
					<td><input type="file" id="exampleInputFile">&nbsp;<font color="red">*</font></td>
				</tr>
				<tr>
					<td colspan="6" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="{{back}}"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
					</td>
				</tr>
				
		</div>
		</div>
	</div>
</form>