<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>บันทึกอัตราสิทธิการเบิก</label></td>
					<td><label>REN001</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="100%" border="0" align="center" >
				<tr style="">
					<th align="center">ตำแหน่ง</th>
					<th align="center">ระดับ</th>
					<th align="center">เงินเดือน(บาท)</th>
					<th align="center">ค่าเช่าบ้านไม่เกินเดือนละ(บาท)</th>
				</tr>
				<tr>
					<td>ตำแหน่งประเภทบริหาร</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับต้น</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับสูง</td>
					<td>
						<table>
							<tr>
								<td>-</td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ตำแหน่งประเภทบริหาร-->
				<tr>
					<td>ตำแหน่งประเภทอำนวยการ</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับต้น</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับสูง</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ตำแหน่งประเภทอำนวยการ  -->
				<tr>
					<td>ตำแหน่งประเภทวิชาการ</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับปฎิบัติการ</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ตำแหน่งประเภทวิชาการ -->
				<tr>
					<td></td>
					<td>ระดับชำนาญการ</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับชำนาญการ -->
				<tr>
					<td></td>
					<td>ระดับชำนาญการพิเศษ</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับชำนาญการพิเศษ -->
				<tr>
					<td></td>
					<td>ระดับเชี่ยวชาญ</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับเชี่ยวชาญ -->
				<tr>
					<td></td>
					<td>ระดับทรงคุณวุฒิ</td>
					<td>
						<table>
							<tr>
								<td colspan="3" align="center" disabled>-</td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled></td>
				</tr>
				<!-- end ระดับทรงคุณวุฒิ -->
				<!-- end ตำแหน่งประเภทวิชาการ-->

				<tr>
					<td>ตำแหน่งประเภททั่วไป</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>ระดับปฎิบัติงาน</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับปฎิบัติงาน -->
				<tr>
					<td></td>
					<td>ระดับชำนาญงาน</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับชำนาญงาน -->
				<tr>
					<td></td>
					<td>ระดับอาวุโส</td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ถึง</td>
								<td><input type="text" class="form-control" disabled></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<table>
							<tr>
								<td><input type="text" class="form-control" disabled></td>
								<td>ขึ้นไป</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled> </td>
				</tr>
				<!-- end ระดับอาวุโส -->
				<tr>
					<td></td>
					<td>ระดับทักษะพิเศษ</td>
					<td>
						<table>
							<tr>
								<td colspan="3" align="center" disabled>-</td>
							</tr>
						</table>
					</td>
					<td><input type="text" class="form-control" disabled></td>
				</tr>
				<!-- end ระดับทักษะพิเศษ-->
				<!-- end ตำแหน่งประเภททั่วไป-->
				<tr>
					<td colspan="4" align="center">
						<a ui-sref=".add"><button type="button" class="btn btn-primary">แก้ไข</button>
						<!--<button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref=".back"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>-->
						</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</form>