<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<td align="right">เลขที่บัตร: </td>
					<td><input type="text" class="form-control" maxlength="16" style="width:250px"></td>
                    <td align="right">เลขที่หนังสืออนุมัติ: </td>
                    <td><input type="text" class="form-control" maxlength="16" style="width:250px"></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary" ng-click="add()">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
			<th>เลขที่หนังสืออนุมัติ</th>
			<th>เลขที่บัตร</th>
			<th>ผู้ถือบัตร</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td width="20%" align="center">3/60</td>
			<td width="20%" align="center">1234567890333</td>
			<td align="center">xxxx xxxxxxx</td>
			<td width="10%" align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img>
			&nbsp; <img src="images/ic_delet.png" width="24" height="24" placeholder="ลบ"></img></td>
		</tr>
		<tr>
			<td align="center">2/60</td>
			<td align="center">1234567890222</td>
			<td align="center">xxxx xxxxxxx</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img>
			&nbsp; <img src="images/ic_delet.png" width="24" height="24" placeholder="ลบ"></img></td>
		</tr>
		<tr>
			<td align="center">1/60</td>
			<td align="center">1234567890111</td>
			<td align="center">xxxx xxxxxxx</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img>
			&nbsp; <img src="images/ic_delet.png" width="24" height="24" placeholder="ลบ"></img></td>
		</tr>
	</table>
</form>