<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
                    <td align="right">ปีงบประมาณ:</td>
                    <td><select class="form-control" style="width:200px">
						<option value="2559">2559</option>
						<option value="2560" selected>2560</option>
						<option value="2561">2561</option>
					</select></td>
					<td width="20%" align="right">รหัสหลักสูตร: </td>
					<td width="40%"><input type="text" class="form-control" maxlength="6" style="width:250px"></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary" ng-click="add()">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
			<th>ปีงบประมาณ</th>
			<th>รหัสหลักสูตร</th>
            <th>ชื่อหลักสูตร / โครงการ</th>
            <th>รุ่นที่</th>
            <th>วันที่นำส่ง</th>
            <th>จำนวนเงินนำส่ง</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td width="4%" align="center">2560</td>
			<td align="center">9931</td>
            <td>โครงการประชุมเชิงปฏิบัติการปรับปรุงผลงานทางวิชาการ เพื่อเลื่อนสู่วิทยฐานะชำนาญการพิเศษและเชี่ยวชาญ ประจำปีงบประมาณ พ.ศ. 2560</td>
            <td align="center">1</td>
            <td align="center">12/11/2559</td>
            <td align="center">xxx,xxx.xx</td>
			<td width="10%" align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>
			<td align="center">2560</td>
			<td align="center">9929</td>
            <td>โครงการจัดสอบประเมินคุณภาพการศึกษาขั้นพื้นฐานเพื่อการประกันคุณภาพผู้เรียน (NT) ประจำปีการศึกษา 2559 (กิจกรรมที่ 1 กิจกรรมย่อยที่ 2 ส่วนที่ 2)</td>
            <td align="center">3</td>
            <td align="center">11/12/2559</td>
            <td align="center">xxx,xxx.xx</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>
			<td align="center">2560</td>
			<td align="center">9929</td>
            <td>โครงการจัดสอบประเมินคุณภาพการศึกษาขั้นพื้นฐานเพื่อการประกันคุณภาพผู้เรียน (NT) ประจำปีการศึกษา 2559 (กิจกรรมที่ 1 กิจกรรมย่อยที่ 2 ส่วนที่ 2)</td>
            <td align="center">2</td>
            <td align="center">07/12/2559</td>
            <td align="center">xxx,xxx.xx</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
	</table>
</form>