<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>รายละเอียดการเบิกจ่ายประจำเดือน</label></td>
					<td><label>REN004</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<td align="right">เดือน:</td>
					<td><select class="form-control">
						<option value="01">มกราคม</option>
						<option value="02">กุมภาพันธ์</option>
						<option value="03">มีนาคม</option>
						<option value="04">เมษายน</option>
						<option value="05">พฤษภาคม</option>
						<option value="06">มิถุนายน</option>
						<option value="07">กรกฎาคม</option>
						<option value="08">สิงหาคม</option>
						<option value="09">กันยายน</option>
						<option value="10">ตุลาคม</option>
						<option value="11">พฤศจิกายน</option>
						<option value="12">ธันวาคม </option>
					</select></td>
					<td align="right">ปี พ.ศ.:</td>
					<td><select class="form-control" style="width:200px">
						<<option value="2559">2558</option>
						<option value="2559">2559</option>
						<option value="2560" selected>2560</option>
						<option value="2561">2561</option>
						<option value="2561">2562</option>
					</select> </td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary" ng-click="add()">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
			<th>วันที่ขอเบิก</th>
			<th>เลขที่ฎีกา</th>		
			<th>เดือน</th>
			<th>ประเภท</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td>11/03/2560</td>
			<td>xx/60</td>
			<td align="center">กุมภาพันธ์ 2560</td>
			<td align="center">รายย่อย</td>
			<td width="10%" align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>			
			<td>01/03/2560</td>
			<td>xx/60</td>
			<td align="center">กุมภาพันธ์ 2560</td>
			<td align="center">รายเดือน</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>		
			<td>01/02/2560</td>
			<td>xx/60</td>	
			<td align="center">มกราคม 2560</td>
			<td align="center">รายย่อย</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>
			<td>11/02/2560</td>
			<td>xx/60</td>
			<td align="center">มกราคม 2560</td>
			<td align="center">รายเดือน</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>

	</table>
</form>