<form>
	<div class="panel panel-primary">
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
                    <td align="right">วันที่ส่งซ่อม:</td>
                    <td><input type="text" maxlength="4" class="form-control custom-form-control" style="width:60%"><img src="images/calendar_32.png" width="24" height="24"></td>
                    <td align="right">วันที่รับคืน:</td>
                    <td><input type="text" maxlength="4" class="form-control custom-form-control" style="width:60%"><img src="images/calendar_32.png" width="24" height="24"></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
            <th width="15%">รหัสครุภัณฑ์</th>
			<th width="15%">วันที่ส่งซ่อม</th>
            <th width="15%">วันที่รับคืน</th>
            <th width="15%">จำนวนเงินซ่อม(บาท)</th>
			<th width="15%" >&nbsp;</th>
		</tr>
		<tr>
            <td align="center">xx-xx-xxxx/xxxx/xxxx</td>
			<td align="center">xx/xx/xxxx</td>
            <td align="center">xx/xx/xxxx</td>
            <td align="right">xxx.xx</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24">
            </img>&nbsp;<img src="images/ic_edit.png" width="24" height="24" placeHolder="แก้ไข">
            </img>&nbsp;<img src="images/ic_edit.png" width="24" height="24" placeHolder="รับคืน">
            </img>&nbsp; <img src="images/ic_delet.png" width="24" height="24"></img></td>
		</tr>
		
	</table>
</form>