<form>
	<div class="panel panel-primary">
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>{{pageName}}</label></td>
					<td><label>{{pageCode}}</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">
			<table width="85%" border="0" align="center">
                <tr>
                    <td width="20%" align="right">วันที่:</td>
					<td width="30%"><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font>
                    <img src="images/calendar_32.png" width="24" height="24"></td>
                    <td width="20%" align="right">เลขที่ผู้ยืม:</td>
                    <td width="30%"><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font></td>
                </tr>
                <tr>
                    <td align="right">หน่วยงาน:</td>
					<td><select class="form-control custom-form-control" style="width:80%">
                            <option>--กรุณาเลือก--</option>
                            <option ng-repeat="u in unit">{{u.name}} </option>
                        </select>&nbsp;<font color="red">*</font> </td>
                    <td align="right">ฝ่าย:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%"></td>
                </tr>
                <tr>
                    <td align="right">ผู้ยืม:</td>
					<td><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font> </td>
                    <td align="right">ตำแหน่ง:</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%"></td>
                </tr>
                <tr>
                    <td align="right">หมายเลขโทรศัพท์:</td>
					<td><input type="text" class="form-control custom-form-control" style="width:80%">&nbsp;<font color="red">*</font> </td>
                    <td align="right"></td>
                    <td></td>
                </tr>
                <tr>
					<td colspan="4" align="center"><button type="button" class="btn btn-success">บันทึก</button> 
						<a ui-sref="{{back}}"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						</td>
				</tr>				
			</table>
		</div>
        <div class="well">
            <table class="table table-bordered table-striped table-list" border="1">
                <tr>
                    <th width="5%">ลำดับ</th>
                    <th >รหัสครุภัณฑ์</th>
                    <th width="20%">รายการ</th>                    
                    <th>หมายเหตุ</th>
                    <th>วันที่คืน <dir></dir><font color="red">RM:จะแสดงในการส่งคืนเท่านั้น</font></th>
                    <th>&nbsp;<button type="button" class="btn btn-primary">เพิ่ม</button></th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td><input type="text" class="form-control custom-form-control" style="width:60%">
                        <button type="button" class="btn btn-info">ดึงข้อมูล</button>
                    </td>
                    <td></td>
                    <td><input type="text" class="form-control custom-form-control" style="width:80%"></td>
                    <td><input type="text" class="form-control custom-form-control" style="width:60%">&nbsp;<font color="red">*</font>
                    <img src="images/calendar_32.png" width="24" height="24"></td>
                    <td align="center">&nbsp; <img src="images/ic_delet.png" width="24" height="24"></img></td>
                </tr>
            </table>
        </div>
		</div>
	</div>
</form>