<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="sidebar">
				<div id="nav">
					<h2 class="trigger">ข้อมูลพื้นฐาน</a></h2>
					<div>
						<ul class="trigger-ul">
							<li class="trigger-li"><a ui-sref=".erps001">จัดการบุคลากร</a> </li>
 							<li class="trigger-li"><a ui-sref=".erps002">บันทึกอัตราสิทธิการเบิก</a> </li>
 							<li class="trigger-li"><a ui-sref=".erps003">บันทึกทะเบียนคุมงบประมาณ</a> </li>
						</ul>
					</div>
					<h2 class="trigger">การดำเนินการ</h2> 
 					<div>
 						<ul class="trigger-ul">
 							<li class="trigger-li"><a ui-sref=".erps004">บันทึกเลขอนุมัติและสัญญา</a> </li>
 							<li class="trigger-li"><a ui-sref=".erps005">รายละเอียดการเบิกจ่ายประจำเดือน</a> </li>
 						</ul>
 					</div>
 					<h2 class="trigger">รายงาน</h2> 
			 		<div>
			 			<ul class="trigger-ul">
			 				<li class="trigger-li"><a ui-sref=".erpr001">ERPR001 รายงานทะเบียนคุมเลขอนุมัติ</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr002">ERPR002 รายงานการเบิกค่าเช่าบ้านรายเดือน/ย่อย</a> </li>
			 				<!--<li class="trigger-li"><a ui-sref=".erpr003">ERPR003 รายงานการเบิกค่าเช่าบ้านรายย่อย</a> </li>-->
			 				<li class="trigger-li"><a ui-sref=".erpr004">ERPR003 รายงานฐานข้อมูลการเบิกค่าผ่อนชะระเงินกู้เพื่อชำระราคาบ้าน แบบทั้งหมด และรายบุคล</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr005">ERPR004 รายงานฐานข้อมูลการเบิกค่าเช่าบ้าน</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr006">ERPR005 รายงานสรุปยอดการเบิกค่าเช่าบ้าน</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr007">ERPR006 รายงานรายการเบิกค่าเช่าบ้านประจำปีงบประมาณ</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr008">ERPR007 รายงานรายละเอียดการเบิกค่าเช่าบ้านข้าราชการ</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr009">ERPR008 รายงานทะเบียนคุมงบประมาณ</a> </li>
			 			</ul>
			 		</div>

				</div><!-- nav end -->

			</div><!-- sidebar end -->
		</div><!-- Menu end -->

		<div class="col-md-10">
			<div ui-view="from"></div>
		</div>
	</div>
</div>