<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<div class="sidebar">
				<div id="nav">
					<h2 class="trigger">ข้อมูลพื้นฐาน</a></h2>
					<div>
						<ul class="trigger-ul">
							<li class="trigger-li"><a ui-sref=".erps701">ค่าเริ่มต้นประมวลผล</a> </li>
							<li class="trigger-li"><a ui-sref=".erps702">ชั้นเครื่องราชอิสริยาภรณ์</a> </li>
							<li class="trigger-li"><a ui-sref=".erps703">หลักเกณฑ์การเสนอขอของข้าราชการ</a> </li>
							<li class="trigger-li"><a ui-sref=".erps704">หลักเกณฑ์การเสนอขอของลูกจ้างประจำ</a> </li>
							<li class="trigger-li"><a ui-sref=".erps705">หลักเกณฑ์การเสนอขอของพนักงานราชการ</a> </li>
						</ul>
					</div>
					<h2 class="trigger">การดำเนินการ</h2> 
 					<div>
 						<ul class="trigger-ul">
 							<li class="trigger-li"><a ui-sref=".erps706">เสนอขอเครื่องราชอิสริยาภรณ์</a> </li>
 							<li class="trigger-li"><a ui-sref=".erps707">ข้อมูลบุคคล</a> </li>
 							<li class="trigger-li"><a ui-sref=".erps708">การจ่าย / คืนเครื่องราชอิสริยาภรณ์</a> </li>
 						</ul>
 					</div>
					<h2 class="trigger">การดำเนินการ (ผู้ใช้งาน)</h2> 
 					<div>
 						<ul class="trigger-ul">
 							<li class="trigger-li"><a ui-sref=".erps709">ข้อมูลบุคคล</a> </li>
 						</ul>
 					</div>
 					<h2 class="trigger">รายงาน</h2> 
			 		<div>
			 			<ul class="trigger-ul">
			 				<li class="trigger-li"><a ui-sref=".erpr701">ERPR701 บัญชีแสดงจำนวนชั้นตรา</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr702">ERPR702 บัญชีรายชื่อผู้ขอพระราชทาน</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr703">ERPR703 บัญชีแสดงคุณสมบัติ</a> </li>
			 				<li class="trigger-li"><a ui-sref=".erpr704">ERPR704 รายงานตรวจสอบบัญชีรายชื่อ</a> </li>
			 			</ul>
			 		</div>

				</div><!-- nav end -->

			</div><!-- sidebar end -->
		</div><!-- Menu end -->

		<div class="col-md-10">
			<div ui-view="from"></div>
		</div>
	</div>
</div>