<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>บันทึกทะเบียนคุมงบประมาณ</label></td>
					<td><label>ERPS003</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<th colspan="4" style="background-color:#fff ">เงื่อนไขการค้นหา</th>
				</tr>
				<tr>
					<td width="20%" align="right">รหัสงบประมาณ: </td>
					<td width="40%"><input type="text" class="form-control" placeholder="รหัสงบประมาณ" style="width:500px"></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary" ng-click="add()">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
			<th>ลำดับ</th>
			<th>รหัสงบประมาณ</th>
			<th>ชื่องบประมาณ</th>
			<th>จำนวนเงิน(บาท)</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td width="4%" align="center">1</td>
			<td align="center">60010401019920009000840</td>
			<td>ค่าเช่าบ้าน</td>
			<td align="right">400,000,000.00</td>
			<td width="10%" align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>
		<tr>
			<td align="center">2</td>
			<td align="center">59010401019920009000840</td>
			<td>ค่าเช่าบ้าน</td>
			<td align="right">400,000,000.00</td>
			<td align="center"><img src="images/ic_see.png" width="24" height="24"></img>&nbsp; <img src="images/ic_edit.png" width="24" height="24"></img></td>
		</tr>

	</table>
</form>