<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>ชั้นเครื่องราชอิสริยาภรณ์</label></td>
					<td><label>ERPS702</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">

<!-- Begin -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr class="trform">
    <td width="30%" align="right">ลำดับ </td>
    <td width="10%"><input type="text" class="form-control"></td>
    <td width="15%"></td>
    <td width="55%"></td>
  </tr>
  <tr class="trform">
    <td align="right">ประเภท </td>
    <td colspan="2">
		<select class="form-control" placeholder="ประเภท">
			<option selected>ทั้งหมด</option>
			<option>ชั้นสายสะพาย</option>
			<option>ต่ำกว่าสายสะพาย</option>
			<option>เหรียญ</option>
		</select>
    </td>
    <td></td>
  </tr>
  <tr class="trform">
    <td align="right">ชื่อชั้นเครื่องราชอิสริยาภรณ์ </td>
    <td colspan="2"><input type="text" class="form-control"></td>
	<td></td>
  </tr>
  <tr class="trform">
    <td align="right">ชื่อย่อ </td>
    <td><input type="text" class="form-control"></td>
	<td></td>
	<td></td>
  </tr>
  <tr class="trform">
    <td align="right">ราคา (บุรุษ) </td>
    <td><input type="text" class="form-control"></td>
	<td> บาท</td>
	<td></td>
  </tr>
  <tr class="trform">
    <td align="right">ราคา (สตรี)</td>
    <td><input type="text" class="form-control"></td>
	<td> บาท</td>
	<td></td>
  </tr>
<!-- End -->
		
				<tr>
					<td colspan="4" align="center">
						<a ui-sref="erp07.erps702"><button type="button" class="btn btn-success">บันทึก</button></a>
						<a ui-sref="erp07.erps702"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
						</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</form>