<form>{{url}}
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading">
			<table width="100%">
				<tr>
					<td width="95%"><label>หลักเกณฑ์การเสนอขอของลูกจ้างประจำ</label></td>
					<td><label>ERPS704</label></td>
				</tr>
			</table>
		</div>
		<div class="panel-body">
		<div class="list-group-item active">เงื่อนไขการค้นหา</div>
		<div class="well">
			<table width="85%" border="0" align="center">
				<tr>
					<td width="25%"></td>
					<td width="20%">กลุ่ม: </td>
					<td width="30%">
						<select class="form-control" placeholder="กลุ่มงาน">
							<option selected>ทั้งหมด</option>
							<option>กลุ่มงานบริการพื้นฐาน</option>
							<option>กลุ่มงานสนับสนุน</option>
							<option>กลุ่มงานช่าง</option>
							<option>กลุ่มงานเทคนิคพิเศษ</option>
						</select>
					</td>
					<td width="25%"></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<button type="button" class="btn btn-primary">ค้นหา</button> 
						<button type="button" class="btn btn-warning">ทั้งหมด</button>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	{{pathAdd}}
	<div class="nav" style="padding:4px; text-align:center; text-align:right;">
	<a ui-sref=".add"><button type="button" class="btn btn-primary" ng-click="add()">เพิ่มข้อมูล</button></a>
	</div>
	<table class="table table-bordered table-striped table-list" border="1">
		<tr>
			<th width="5%">ลำดับ</th>
			<th width="30%">กลุ่ม</th>
			<th width="50%">เครื่องราชอิสริยาภรณ์ที่เสนอขอ</th>
			<th width="15%">&nbsp;</th>
		</tr>
		<tr>
			<td align="center">1</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>เบญจมาภรณ์มงกุฏไทย (บ.ม.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">2</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>เบญจมาภรณ์ช้างเผือก (บ.ช.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">3</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>จัตุรถาภรณ์มงกุฏไทย (จ.ม.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">4</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>เบญจมาภรณ์มงกุฏไทย (บ.ม.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">5</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>เบญจมาภรณ์ช้างเผือก (บ.ช.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">6</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>จัตุรถาภรณ์มงกุฏไทย (จ.ม.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>
		<tr>
			<td align="center">7</td>
			<td>กลุ่มงานบริการพื้นฐาน</td>
			<td>จัตุรถาภรณ์ช้างเผือก (จ.ช.)</td>
			<td align="center">
				<img src="images/ic_see.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_edit.png" width="24" height="24"></img>
				&nbsp; 
				<img src="images/ic_delet.png" width="24" height="24"></img>
			</td>
		</tr>

	</table>
</form>