<form>
	<div class="panel panel-primary">{{fromName}}
		<div class="panel-heading"><table width="100%">
				<tr>
					<td width="95%"><label>เสนอขอเครื่องราชอิสริยาภรณ์</label></td>
					<td><label>ERPS706</label></td>
				</tr>
			</table></div>
		<div class="panel-body">
		<div class="list-group-item active">ข้อมูล</div>
		<div class="well">

<!-- Begin -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
 <tr>
    <td width="40%" align="right">ปีที่เสนอขอ</td>
    <td width="20%"><input type="text" class="form-control" name="" value=""></td>
    <td width="40%"></td>
  </tr>
  <tr class="trform">
    <td align="right">ประเภทการเสอนขอ</td>
    <td>
		<select class="form-control" placeholder="ประเภทการเสอนขอ">
			<option selected>เลือกประเภทการเสอนขอ</option>
			<option>ข้าราชการ</option>
			<option>ลูกจ้างประจำ</option>
			<option>พนักงานราชการ</option>
		</select>
    </td>
    <td></td>
  </tr>
  <tr class="trform">
	<td align="right">ประเภทชั้นเครื่องราชอิสริยาภรณ์: </td>
	<td>
	  <select class="form-control" placeholder="ประเภทชั้นเครื่องราชอิสริยาภรณ์">
		<option selected>เลือกประเภทชั้นเครื่องราชอิสริยาภรณ์</option>
		<option>ชั้นสายสะพาย</option>
		<option>ชั้นสายสะพาย (เกษียณ)</option>
		<option>ต่ำกว่าสายสะพาย</option>
		<option>เหรียญจักรพรรดิมาลา</option>
	  </select>
	</td>
	<td></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr class="trform">
    <td align="center">
		<a ui-sref="erp07.erps706.add2"><button type="button" class="btn btn-primary" ng-click="add()">ประมวลผล</button></a>
		<a ui-sref="erp07.erps706"><button type="button" class="btn btn-warning">&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button></a>
	</td>
  </tr>
</table>

<!-- End -->
		
		</div>
		</div>
	</div>
</form>